**/node_modules
**/.pnp
**/.next
**/build
**/dist
**/coverage
**/.env*
**/.DS_Store
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/*.tmp
**/*.log
**/.git
**/.vscode
**/.idea

**/.github
**/.gitlab
**/.circleci